/* Coolors Exported Palette - coolors.co/2f4858-fefcfb-0a1128-1282a2-86bbd8 */

/* RGB */
$bgcolor: rgba(232, 235, 247, 1);
$panelcolor: rgba(254, 252, 251, 1);
$textcolor: rgba(10, 17, 40, 1);
$linkcolor: rgba(18, 130, 162, 1);
$buttoncolor: rgba(134, 187, 216, 1);
